<a href="https://colab.research.google.com/github/ZzangJay/team_project/blob/kimjisan/220925_ab_micro_join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
prescriptions_ab=pd.read_csv('/content/drive/MyDrive/mimiciv preprocessing/prescriptions_ab')
icu_ab=pd.read_csv('/content/drive/MyDrive/mimiciv preprocessing/icu_ab_join.csv')
microevent=pd.read_csv('/content/drive/MyDrive/mimiciv_unzip/hosp/microbiologyevents.csv')

In [3]:
icu_ab

,subject_id,hadm_id,stay_id,icu_intime,icu_outtime,drug,ab_starttime,ab_stoptime
0,10000980,26913865,39765666,2189-06-27 08:42:00,2189-06-27 20:38:27,levofloxacin,2189-06-27 11:00:00,2189-06-28 11:00:00
1,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,vancomycin,2157-11-22 04:00:00,2157-11-23 10:00:00
2,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,metronidazole (flagyl),2157-11-23 10:00:00,2157-11-25 22:00:00
3,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,vancomycin,2157-11-20 19:00:00,2157-11-22 02:00:00
4,10001217,27703517,34592300,2157-12-19 15:42:24,2157-12-20 14:27:41,vancomycin,2157-12-23 09:00:00,2157-12-24 19:00:00
...,...,...,...,...,...,...,...,...
371246,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15,vancomycin,2164-09-15 20:00:00,2164-09-16 12:00:00
371247,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15,piperacillin-tazobactam na,2164-09-15 12:00:00,2164-09-16 12:00:00
371248,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,vancomycin,2145-11-08 20:00:00,2145-11-09 15:00:00
371249,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,sulfameth/trimethoprim ds,2145-11-09 20:00:00,2145-11-11 17:00:00
371250,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,vancomycin,2145-11-05 20:00:00,2145-11-08 09:00:00

In [4]:
microevent

,microevent_id,subject_id,hadm_id,micro_specimen_id,chartdate,charttime,spec_itemid,spec_type_desc,test_seq,storedate,...,org_name,isolate_num,quantity,ab_itemid,ab_name,dilution_text,dilution_comparison,dilution_value,interpretation,comments
0,1,10000032,NaN,636109,2180-03-23 00:00:00,2180-03-23 11:51:00,70093,Blood (Toxo),1,2180-03-26 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NEGATIVE FOR TOXOPLASMA IgG ANTIBODY BY EIA. ...
1,2,10000032,NaN,1836584,2180-03-23 00:00:00,2180-03-23 11:51:00,70017,SEROLOGY/BLOOD,1,2180-03-24 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POSITIVE BY EIA. A positive IgG result genera...
2,3,10000032,NaN,4131591,2180-03-23 00:00:00,2180-03-23 11:51:00,70087,Blood (CMV AB),1,2180-03-26 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,___
3,4,10000032,NaN,4131591,2180-03-23 00:00:00,2180-03-23 11:51:00,70087,Blood (CMV AB),2,2180-03-26 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NEGATIVE FOR CMV IgM ANTIBODY BY EIA. INTERPR...
4,5,10000032,NaN,6028147,2180-03-23 00:00:00,2180-03-23 11:51:00,70088,Blood (EBV),1,2180-03-25 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POSITIVE BY EIA.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3395224,3395225,19999987,23865745.0,9008390,2145-11-05 00:00:00,2145-11-05 10:35:00,70012,BLOOD CULTURE,1,2145-11-11 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO GROWTH.
3395225,3395226,19999987,23865745.0,3162785,2145-11-05 00:00:00,2145-11-05 12:15:00,70012,BLOOD CULTURE,1,2145-11-11 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO GROWTH.
3395226,3395227,19999987,23865745.0,5530834,2145-11-06 00:00:00,2145-11-06 13:15:00,70012,BLOOD CULTURE,1,2145-11-12 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO GROWTH.
3395227,3395228,19999987,23865745.0,8701158,2145-11-06 00:00:00,2145-11-06 17:05:00,70012,BLOOD CULTURE,1,2145-11-12 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO GROWTH.
3395228,3395229,19999987,23865745.0,3220728,2145-11-07 00:00:00,2145-11-07 06:00:00,70012,BLOOD CULTURE,1,2145-11-13 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO GROWTH.

In [5]:
pd.set_option('display.max_columns',None)

In [6]:
micro_org=microevent.dropna(subset=['org_name'], axis=0)
micro_org

,microevent_id,subject_id,hadm_id,micro_specimen_id,chartdate,charttime,spec_itemid,spec_type_desc,test_seq,storedate,storetime,test_itemid,test_name,org_itemid,org_name,isolate_num,quantity,ab_itemid,ab_name,dilution_text,dilution_comparison,dilution_value,interpretation,comments
19,20,10000032,NaN,5842819,2180-06-26 00:00:00,2180-06-26 18:30:00,70079,URINE,1,2180-06-29 00:00:00,2180-06-29 14:32:00,90039,URINE CULTURE,80053.0,ENTEROCOCCUS SP.,1.0,NaN,90004.0,AMPICILLIN,<=2,<=,2.00,S,"MIXED BACTERIAL FLORA ( >= 3 COLONY TYPES), CO..."
20,21,10000032,NaN,5842819,2180-06-26 00:00:00,2180-06-26 18:30:00,70079,URINE,1,2180-06-29 00:00:00,2180-06-29 14:32:00,90039,URINE CULTURE,80053.0,ENTEROCOCCUS SP.,1.0,NaN,90010.0,NITROFURANTOIN,<=16,<=,16.00,S,"MIXED BACTERIAL FLORA ( >= 3 COLONY TYPES), CO..."
21,22,10000032,NaN,5842819,2180-06-26 00:00:00,2180-06-26 18:30:00,70079,URINE,1,2180-06-29 00:00:00,2180-06-29 14:32:00,90039,URINE CULTURE,80053.0,ENTEROCOCCUS SP.,1.0,NaN,90011.0,TETRACYCLINE,=>16,=>,16.00,R,"MIXED BACTERIAL FLORA ( >= 3 COLONY TYPES), CO..."
22,23,10000032,NaN,5842819,2180-06-26 00:00:00,2180-06-26 18:30:00,70079,URINE,1,2180-06-29 00:00:00,2180-06-29 14:32:00,90039,URINE CULTURE,80053.0,ENTEROCOCCUS SP.,1.0,NaN,90015.0,VANCOMYCIN,1,=,1.00,S,"MIXED BACTERIAL FLORA ( >= 3 COLONY TYPES), CO..."
40,41,10000108,NaN,3019793,2163-09-27 00:00:00,2163-09-27 22:27:00,70067,SWAB,2,2163-10-02 00:00:00,2163-10-02 14:42:00,90046,WOUND CULTURE,90383.0,ACTINOBACILLUS ACTINOMYCETEMCOMITANS,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3395219,3395220,19999987,23865745.0,6296773,2145-11-04 00:00:00,2145-11-04 10:40:00,70079,URINE,1,2145-11-06 00:00:00,2145-11-06 11:35:00,90039,URINE CULTURE,80004.0,KLEBSIELLA PNEUMONIAE,1.0,NaN,90019.0,CIPROFLOXACIN,<=0.25,<=,0.25,S,NaN
3395220,3395221,19999987,23865745.0,6296773,2145-11-04 00:00:00,2145-11-04 10:40:00,70079,URINE,1,2145-11-06 00:00:00,2145-11-06 11:35:00,90039,URINE CULTURE,80004.0,KLEBSIELLA PNEUMONIAE,1.0,NaN,90022.0,AMPICILLIN/SULBACTAM,4,=,4.00,S,NaN
3395221,3395222,19999987,23865745.0,6296773,2145-11-04 00:00:00,2145-11-04 10:40:00,70079,URINE,1,2145-11-06 00:00:00,2145-11-06 11:35:00,90039,URINE CULTURE,80004.0,KLEBSIELLA PNEUMONIAE,1.0,NaN,90026.0,PIPERACILLIN/TAZO,<=4,<=,4.00,S,NaN
3395222,3395223,19999987,23865745.0,6296773,2145-11-04 00:00:00,2145-11-04 10:40:00,70079,URINE,1,2145-11-06 00:00:00,2145-11-06 11:35:00,90039,URINE CULTURE,80004.0,KLEBSIELLA PNEUMONIAE,1.0,NaN,90028.0,CEFEPIME,<=1,<=,1.00,S,NaN
3395223,3395224,19999987,23865745.0,6296773,2145-11-04 00:00:00,2145-11-04 10:40:00,70079,URINE,1,2145-11-06 00:00:00,2145-11-06 11:35:00,90039,URINE CULTURE,80004.0,KLEBSIELLA PNEUMONIAE,1.0,NaN,90029.0,MEROPENEM,<=0.25,<=,0.25,S,NaN

In [7]:
micro_org.columns

Index(['microevent_id', 'subject_id', 'hadm_id', 'micro_specimen_id',
       'chartdate', 'charttime', 'spec_itemid', 'spec_type_desc', 'test_seq',
       'storedate', 'storetime', 'test_itemid', 'test_name', 'org_itemid',
       'org_name', 'isolate_num', 'quantity', 'ab_itemid', 'ab_name',
       'dilution_text', 'dilution_comparison', 'dilution_value',
       'interpretation', 'comments'],
      dtype='object')

In [19]:
micro_comp=micro_org[['hadm_id', 'chartdate', 'charttime', 'spec_type_desc','org_name']]

In [27]:
micro_comp.columns=['hadm_id', 'mi_chartdate', 'mi_charttime', 'spec_type_desc','org_name']

In [28]:
micro_comp

,hadm_id,mi_chartdate,mi_charttime,spec_type_desc,org_name
19,NaN,2180-06-26 00:00:00,2180-06-26 18:30:00,URINE,ENTEROCOCCUS SP.
20,NaN,2180-06-26 00:00:00,2180-06-26 18:30:00,URINE,ENTEROCOCCUS SP.
21,NaN,2180-06-26 00:00:00,2180-06-26 18:30:00,URINE,ENTEROCOCCUS SP.
22,NaN,2180-06-26 00:00:00,2180-06-26 18:30:00,URINE,ENTEROCOCCUS SP.
40,NaN,2163-09-27 00:00:00,2163-09-27 22:27:00,SWAB,ACTINOBACILLUS ACTINOMYCETEMCOMITANS
...,...,...,...,...,...
3395219,23865745.0,2145-11-04 00:00:00,2145-11-04 10:40:00,URINE,KLEBSIELLA PNEUMONIAE
3395220,23865745.0,2145-11-04 00:00:00,2145-11-04 10:40:00,URINE,KLEBSIELLA PNEUMONIAE
3395221,23865745.0,2145-11-04 00:00:00,2145-11-04 10:40:00,URINE,KLEBSIELLA PNEUMONIAE
3395222,23865745.0,2145-11-04 00:00:00,2145-11-04 10:40:00,URINE,KLEBSIELLA PNEUMONIAE
3395223,23865745.0,2145-11-04 00:00:00,2145-11-04 10:40:00,URINE,KLEBSIELLA PNEUMONIAE

In [30]:
micro_pu=micro_comp.drop_duplicates(subset=['mi_chartdate','org_name'], keep='first', inplace=False, ignore_index=False)
micro_pu

,hadm_id,mi_chartdate,mi_charttime,spec_type_desc,org_name
19,NaN,2180-06-26 00:00:00,2180-06-26 18:30:00,URINE,ENTEROCOCCUS SP.
40,NaN,2163-09-27 00:00:00,2163-09-27 22:27:00,SWAB,ACTINOBACILLUS ACTINOMYCETEMCOMITANS
42,NaN,2174-04-20 00:00:00,2174-04-20 13:30:00,STOOL,CAMPYLOBACTER JEJUNI
54,NaN,2176-03-13 00:00:00,2176-03-13 12:00:00,STOOL,CLOSTRIDIUM DIFFICILE
60,NaN,2176-03-31 00:00:00,NaN,STOOL,CLOSTRIDIUM DIFFICILE
...,...,...,...,...,...
3395128,25304202.0,2139-10-10 00:00:00,2139-10-10 23:25:00,MRSA SCREEN,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS
3395178,25744818.0,2149-01-09 00:00:00,2149-01-09 18:30:00,SWAB,STREPTOCOCCUS ANGINOSUS (MILLERI) GROUP
3395207,NaN,2164-09-18 00:00:00,NaN,POSTMORTEM CULTURE,"NON-FERMENTER, NOT PSEUDOMONAS AERUGINOSA"
3395209,NaN,2145-11-02 00:00:00,2145-11-02 19:50:00,BLOOD CULTURE,ANAEROBIC GRAM POSITIVE COCCUS(I)
3395212,23865745.0,2145-11-04 00:00:00,2145-11-04 10:40:00,URINE,KLEBSIELLA PNEUMONIAE

In [31]:
micro_pu=micro_pu.dropna(subset=['hadm_id'], axis=0)
micro_pu

,hadm_id,mi_chartdate,mi_charttime,spec_type_desc,org_name
109,20032235.0,2146-12-08 00:00:00,2146-12-08 22:22:00,URINE,ESCHERICHIA COLI
122,20032235.0,2146-12-11 00:00:00,2146-12-11 00:53:00,URINE,GRAM POSITIVE BACTERIA
129,21086876.0,2146-12-18 00:00:00,2146-12-18 20:01:00,URINE,GRAM POSITIVE BACTERIA
388,24906418.0,2188-09-25 00:00:00,2188-09-25 11:50:00,SWAB,STAPH AUREUS COAG +
404,21334040.0,2190-07-19 00:00:00,2190-07-19 15:00:00,TISSUE,CANDIDA PARAPSILOSIS
...,...,...,...,...,...
3395061,25345411.0,2146-12-19 00:00:00,2146-12-19 17:59:00,URINE,GRAM POSITIVE BACTERIA
3395117,23033573.0,2171-08-02 00:00:00,2171-08-02 13:44:00,STOOL,CANCELLED
3395128,25304202.0,2139-10-10 00:00:00,2139-10-10 23:25:00,MRSA SCREEN,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS
3395178,25744818.0,2149-01-09 00:00:00,2149-01-09 18:30:00,SWAB,STREPTOCOCCUS ANGINOSUS (MILLERI) GROUP
3395212,23865745.0,2145-11-04 00:00:00,2145-11-04 10:40:00,URINE,KLEBSIELLA PNEUMONIAE

In [32]:
icu_ab_join=pd.read_csv('/content/drive/MyDrive/mimiciv preprocessing/icu_ab_join.csv')

In [33]:
icu_ab_join

,subject_id,hadm_id,stay_id,icu_intime,icu_outtime,drug,ab_starttime,ab_stoptime
0,10000980,26913865,39765666,2189-06-27 08:42:00,2189-06-27 20:38:27,levofloxacin,2189-06-27 11:00:00,2189-06-28 11:00:00
1,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,vancomycin,2157-11-22 04:00:00,2157-11-23 10:00:00
2,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,metronidazole (flagyl),2157-11-23 10:00:00,2157-11-25 22:00:00
3,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,vancomycin,2157-11-20 19:00:00,2157-11-22 02:00:00
4,10001217,27703517,34592300,2157-12-19 15:42:24,2157-12-20 14:27:41,vancomycin,2157-12-23 09:00:00,2157-12-24 19:00:00
...,...,...,...,...,...,...,...,...
371246,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15,vancomycin,2164-09-15 20:00:00,2164-09-16 12:00:00
371247,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15,piperacillin-tazobactam na,2164-09-15 12:00:00,2164-09-16 12:00:00
371248,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,vancomycin,2145-11-08 20:00:00,2145-11-09 15:00:00
371249,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,sulfameth/trimethoprim ds,2145-11-09 20:00:00,2145-11-11 17:00:00
371250,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,vancomycin,2145-11-05 20:00:00,2145-11-08 09:00:00

In [34]:
ab_micro_join = pd.merge(icu_ab_join, micro_pu, left_on='hadm_id', right_on='hadm_id', how='left')

In [35]:
ab_micro_join

,subject_id,hadm_id,stay_id,icu_intime,icu_outtime,drug,ab_starttime,ab_stoptime,mi_chartdate,mi_charttime,spec_type_desc,org_name
0,10000980,26913865,39765666,2189-06-27 08:42:00,2189-06-27 20:38:27,levofloxacin,2189-06-27 11:00:00,2189-06-28 11:00:00,NaN,NaN,NaN,NaN
1,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,vancomycin,2157-11-22 04:00:00,2157-11-23 10:00:00,2157-11-20 00:00:00,2157-11-20 12:20:00,ABSCESS,FUSOBACTERIUM NUCLEATUM
2,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,vancomycin,2157-11-22 04:00:00,2157-11-23 10:00:00,2157-11-20 00:00:00,2157-11-20 12:20:00,ABSCESS,STREPTOCOCCUS ANGINOSUS (MILLERI) GROUP
3,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,metronidazole (flagyl),2157-11-23 10:00:00,2157-11-25 22:00:00,2157-11-20 00:00:00,2157-11-20 12:20:00,ABSCESS,FUSOBACTERIUM NUCLEATUM
4,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,metronidazole (flagyl),2157-11-23 10:00:00,2157-11-25 22:00:00,2157-11-20 00:00:00,2157-11-20 12:20:00,ABSCESS,STREPTOCOCCUS ANGINOSUS (MILLERI) GROUP
...,...,...,...,...,...,...,...,...,...,...,...,...
1076858,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15,vancomycin,2164-09-15 20:00:00,2164-09-16 12:00:00,NaN,NaN,NaN,NaN
1076859,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15,piperacillin-tazobactam na,2164-09-15 12:00:00,2164-09-16 12:00:00,NaN,NaN,NaN,NaN
1076860,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,vancomycin,2145-11-08 20:00:00,2145-11-09 15:00:00,2145-11-04 00:00:00,2145-11-04 10:40:00,URINE,KLEBSIELLA PNEUMONIAE
1076861,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,sulfameth/trimethoprim ds,2145-11-09 20:00:00,2145-11-11 17:00:00,2145-11-04 00:00:00,2145-11-04 10:40:00,URINE,KLEBSIELLA PNEUMONIAE
1076862,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,vancomycin,2145-11-05 20:00:00,2145-11-08 09:00:00,2145-11-04 00:00:00,2145-11-04 10:40:00,URINE,KLEBSIELLA PNEUMONIAE

In [36]:
ab_micro_join.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1076863 entries, 0 to 1076862
Data columns (total 12 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   subject_id      1076863 non-null  int64
 1   hadm_id         1076863 non-null  int64
 2   stay_id         1076863 non-null  int64
 3   icu_intime      1076863 non-null  object
 4   icu_outtime     1076863 non-null  object
 5   drug            1076863 non-null  object
 6   ab_starttime    1076863 non-null  object
 7   ab_stoptime     1076863 non-null  object
 8   mi_chartdate    932860 non-null   object
 9   mi_charttime    932860 non-null   object
 10  spec_type_desc  932860 non-null   object
 11  org_name        932860 non-null   object
dtypes: int64(3), object(9)
memory usage: 106.8+ MB

In [37]:
ab_micro_join=ab_micro_join.dropna(subset=['org_name'], axis=0)

In [38]:
ab_micro_join.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 932860 entries, 1 to 1076862
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   subject_id      932860 non-null  int64
 1   hadm_id         932860 non-null  int64
 2   stay_id         932860 non-null  int64
 3   icu_intime      932860 non-null  object
 4   icu_outtime     932860 non-null  object
 5   drug            932860 non-null  object
 6   ab_starttime    932860 non-null  object
 7   ab_stoptime     932860 non-null  object
 8   mi_chartdate    932860 non-null  object
 9   mi_charttime    932860 non-null  object
 10  spec_type_desc  932860 non-null  object
 11  org_name        932860 non-null  object
dtypes: int64(3), object(9)
memory usage: 92.5+ MB

In [39]:
ab_micro_join

,subject_id,hadm_id,stay_id,icu_intime,icu_outtime,drug,ab_starttime,ab_stoptime,mi_chartdate,mi_charttime,spec_type_desc,org_name
1,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,vancomycin,2157-11-22 04:00:00,2157-11-23 10:00:00,2157-11-20 00:00:00,2157-11-20 12:20:00,ABSCESS,FUSOBACTERIUM NUCLEATUM
2,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,vancomycin,2157-11-22 04:00:00,2157-11-23 10:00:00,2157-11-20 00:00:00,2157-11-20 12:20:00,ABSCESS,STREPTOCOCCUS ANGINOSUS (MILLERI) GROUP
3,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,metronidazole (flagyl),2157-11-23 10:00:00,2157-11-25 22:00:00,2157-11-20 00:00:00,2157-11-20 12:20:00,ABSCESS,FUSOBACTERIUM NUCLEATUM
4,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,metronidazole (flagyl),2157-11-23 10:00:00,2157-11-25 22:00:00,2157-11-20 00:00:00,2157-11-20 12:20:00,ABSCESS,STREPTOCOCCUS ANGINOSUS (MILLERI) GROUP
5,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,vancomycin,2157-11-20 19:00:00,2157-11-22 02:00:00,2157-11-20 00:00:00,2157-11-20 12:20:00,ABSCESS,FUSOBACTERIUM NUCLEATUM
...,...,...,...,...,...,...,...,...,...,...,...,...
1076849,19999828,25744818,36075953,2149-01-08 18:12:00,2149-01-10 13:11:02,piperacillin-tazobactam,2149-01-09 13:00:00,2149-01-14 08:00:00,2149-01-09 00:00:00,2149-01-09 18:30:00,SWAB,STREPTOCOCCUS ANGINOSUS (MILLERI) GROUP
1076850,19999828,25744818,36075953,2149-01-08 18:12:00,2149-01-10 13:11:02,piperacillin-tazobactam,2149-01-08 20:00:00,2149-01-09 16:00:00,2149-01-09 00:00:00,2149-01-09 18:30:00,SWAB,STREPTOCOCCUS ANGINOSUS (MILLERI) GROUP
1076860,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,vancomycin,2145-11-08 20:00:00,2145-11-09 15:00:00,2145-11-04 00:00:00,2145-11-04 10:40:00,URINE,KLEBSIELLA PNEUMONIAE
1076861,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,sulfameth/trimethoprim ds,2145-11-09 20:00:00,2145-11-11 17:00:00,2145-11-04 00:00:00,2145-11-04 10:40:00,URINE,KLEBSIELLA PNEUMONIAE
1076862,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,vancomycin,2145-11-05 20:00:00,2145-11-08 09:00:00,2145-11-04 00:00:00,2145-11-04 10:40:00,URINE,KLEBSIELLA PNEUMONIAE

In [40]:
ab_micro_join['spec_type_desc'].value_counts()

SPUTUM                                                      239820
URINE                                                       193076
BLOOD CULTURE                                               113621
BRONCHOALVEOLAR LAVAGE                                       62756
SWAB                                                         59692
STOOL                                                        44421
TISSUE                                                       33751
PERITONEAL FLUID                                             25899
ABSCESS                                                      24683
Mini-BAL                                                     24483
MRSA SCREEN                                                  23492
BILE                                                         14634
BRONCHIAL WASHINGS                                           13702
FLUID,OTHER                                                  12564
PLEURAL FLUID                                                10524
CATHETER TIP-IV                                               8084
FLUID RECEIVED IN BLOOD CULTURE BOTTLES                       3921
Rapid Respiratory Viral Screen & Culture                      3908
CSF;SPINAL FLUID                                              3324
Staph aureus swab                                             3267
FOREIGN BODY                                                  1853
BLOOD CULTURE ( MYCO/F LYTIC BOTTLE)                          1792
ASPIRATE                                                      1525
Direct Antigen Test for Herpes Simplex Virus Types 1 & 2      1345
JOINT FLUID                                                    913
DIRECT ANTIGEN TEST FOR VARICELLA-ZOSTER VIRUS                 808
URINE,KIDNEY                                                   694
DIALYSIS FLUID                                                 623
SKIN SCRAPINGS                                                 619
TRACHEAL ASPIRATE                                              339
FOOT CULTURE                                                   332
Influenza A/B by DFA                                           275
EYE                                                            257
THROAT CULTURE                                                 244
THROAT FOR STREP                                               222
EAR                                                            216
Isolate                                                        194
CORNEAL EYE SCRAPINGS                                          116
RAPID RESPIRATORY VIRAL ANTIGEN TEST                            90
VIRAL CULTURE:R/O HERPES SIMPLEX VIRUS                          90
BONE MARROW                                                     73
BIOPSY                                                          68
Foreign Body - Sonication Culture                               64
Swab                                                            64
SEROLOGY/BLOOD                                                  58
URINE,SUPRAPUBIC ASPIRATE                                       54
STOOL (RECEIVED IN TRANSPORT SYSTEM)                            51
Stem Cell - Blood Culture                                       45
SCOTCH TAPE PREP/PADDLE                                         44
ANORECTAL/VAGINAL                                               43
BRONCHIAL BRUSH                                                 33
FLUID WOUND                                                     32
Swab R/O Yeast Screen                                           29
VARICELLA-ZOSTER CULTURE                                        12
WORM                                                            11
PROSTHETIC JOINT FLUID                                          10
Name: spec_type_desc, dtype: int64

In [41]:
ab_micro_join.to_csv('/content/drive/MyDrive/mimiciv preprocessing/ab_micro_join.csv')